{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-between srg-bg-secondary">
        <div class="col-6 srg-header">
            <h3 class="fw-normal">{{ user.first_name }}'s Admin Timesheet</h3>
            <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
            <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
        </div>
    </div>


    <div class="row p-3 mt-2">
        <div class="card py-2">
            <h4 class="fw-normal srg-header">Search Form</h4>
            <form method="get">
                {% for field in filter.form %}
                    <div class="fieldWrapper mb-3">
                        {{ field.label_tag }} <br> {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-start align-items-center gap-3 mt-1">
                    <input class="srg-btn-primary" type="submit" value="Search Timesheet">
                    <input class="srg-btn-secondary" name='extract_button' type="submit" value="Extract Timesheet">
                    <a class="srg-link" href="{% url 'admin-timesheet' %}">Clear Form</a>
                </div>
            </form>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-12 overflow-auto">
            <table class="table table-bordered">
            <caption>Current Timesheet Entries</caption>
                <thead>
                    <tr class="text-center">
                        <th>Date</th>
                        <th>Employee</th>
                        <th>Engagement ID</th>
                        <th>Parent</th>
                        <th>Provider</th>
                        <th>Scope</th>
                        <th>Hours</th>
                        <th>Note</th>
                    </tr>
                </thead>
                {% for entry in filter.qs %}
                    <tr class="text-center align-middle">
                        <td class="">{{ entry.date|date:'m/d/Y' }}</td>
                        <td class="text-start">{{ entry.employee__user__username }}</td>
                        <td class="text-start">{{ entry.engagement__srg_id }}</td>
                        <td class="text-start">{{ entry.engagement__parent__parent_name }}</td>
                        <td class="text-start">{{ entry.engagement__provider }} - {{ entry.engagement__provider__provider_name }}</td>
                        <td class="text-start">{{ entry.engagement__time_code }} - {{ entry.engagement__time_code__time_code_desc }}</td>
                        <td>{{ entry.hours }}</td>
                        <td class="text-start">{{ entry.note }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% for entry in timesheet_entries %}
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-{{ entry.engagement }}-modal" aria-hidden="true">
                    <div class="modal-dialog" id="modal">
                        <div class="modal-content">
                            <div class="modal-header srg-bg-primary text-light">
                                <h4 class="text-light fw-normal mb-0">Record Hours</h4>
                            </div>
                            <div class="modal-body">
                                ID: <span id="object-id-{{ forloop.counter }}">{{ entry.engagement}}</span>

                                <form class="" method="POST">
                                    {% csrf_token %}
                                        <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                        <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ entry.engagement }}"/><br>
                                    {% for field in add_time_form %}
                                        <div class="fieldWrapper mb-3">
                                            {{ field.label_tag }} <br>{{ field }}
                                            {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </div>

                                    {% endfor %}
                                    <button class="srg-btn-primary my-2">Add Hours</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>


{% endblock %}