{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-between srg-bg-secondary">
        <div class="col-6 srg-header">
            <h3 class="fw-normal">{{ user.first_name }}'s Admin To-Do List</h3>
            <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
            <h5 class="fw-normal">Period: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-8 py-4 border">
            {% for d in todo_data %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="p-0" style="width:125px"></th>
                            {% regroup d.todolist by employee as todolist_list %}
                            {% for employee in todolist_list %}
                                <th class="" style="width:100px">{{ employee.grouper }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tr>
                        <td class="" style="width:125px">{{ d.todo_date }}</td>
                        {% regroup d.todolist by employee as todolist_list %}
                        {% for employee in todolist_list %}
                            <td class="" style="width:100px">
                                {% for item in employee.list %}
                                    <div class="my-1 card">
                                        {{ item.engagement }} {{ item.anticipated_hours }}<br>
                                        {{ item.getProvider }} <br>
                                        {{ item.getScope }}<br>
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                </table>
            {% endfor %}
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Employee</th>
                        {% for emp in employees %}
                            <th>{{ emp }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for day in next_week_days %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>
                            {% for rec in pivoted_data %}
                                {% if rec.todo_date == day %}
                                    {{ rec.employee__user__username }}<br>
                                    {{ rec.todo_date }}<br>
                                    {{ rec.engagement__srg_id }}<br>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div class="col-auto table-responsive">
        <span class="srg-header fs-3">Next Week's Schedule</span>
        <table class="table table-bordered">
            <caption>Current To-Do List</caption>
                <thead>
                    <tr class="text-center text-light srg-bg-primary border-0">
                        <th class="border-0">Date</th>
                        {% for day in next_week_days %}
                            <th class="border-0 text-light">{{ day|date:'m/d/Y'}}</th>
                        {% endfor %}

                    </tr>
                </thead>
                {% for entry in employees %}
                    <tr class="text-center">
                        <td class="text-start">
                            {{ entry }}
                        </td>
                        <td class="text-start">
                            {% for emp in entry.emp_todo_list_day_one %}
                                    {{ emp.engagement }}<br>
                                    {{ emp.getProvider }}<br>
                                    {{ emp.getScope }}<br>
                                    {{ emp.anticipated_hours }}<br>
                                    <hr class="m-1">
                            {% endfor %}
                        </td>
                        <td class="text-start">
                            {% for emp in entry.emp_todo_list_day_two %}
                                    {{ emp.engagement }}<br>
                                    {{ emp.getProvider }}<br>
                                    {{ emp.getScope }}<br>
                                    {{ emp.anticipated_hours }}<br>
                                    <hr class="m-1">
                            {% endfor %}
                        </td>
                        <td class="text-start">
                            {% for emp in entry.emp_todo_list_day_three %}
                                    {{ emp.engagement }}<br>
                                    {{ emp.getProvider }}<br>
                                    {{ emp.getScope }}<br>
                                    {{ emp.anticipated_hours }}<br>
                                    <hr class="m-1">
                            {% endfor %}
                        </td>
                        <td class="text-start">
                            {% for emp in entry.emp_todo_list_day_four %}
                                    {{ emp.engagement }}<br>
                                    {{ emp.getProvider }}<br>
                                    {{ emp.getScope }}<br>
                                    {{ emp.anticipated_hours }}<br>
                                    <hr class="m-1">
                            {% endfor %}
                        </td>
                        <td class="text-start">
                            {% for emp in entry.emp_todo_list_day_five %}
                                    {{ emp.engagement }}<br>
                                    {{ emp.getProvider }}<br>
                                    {{ emp.getScope }}<br>
                                    {{ emp.anticipated_hours }}<br>
                                    <hr class="m-1">
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>



        {% for engagement in unassigned_engagements %}
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary text-light">
                            <h4 class="text-light fw-normal mb-0">Assign Engagement</h4>
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input class="mb-3" name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.srg_id }}"/><br>
                                {% for field in add_todo_form %}
                                    <div class="fieldWrapper mb-3">
                                        {{ field.label_tag }} <br>{{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button class="srg-btn-primary my-2">Add Engagement</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


{% endblock %}