{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-evenly">
        <div class="col-6 card rounded-4 shadow p-0">
            <div class="card-header rounded-4 rounded-bottom-0 border-bottom-0 srg-bg-secondary">
                <h3 class="fw-normal srg-header">Engagement Details</h3>
            </div>

            <div class="card-body">
                <h5 class="fw-normal">ID: {{ engagement_instance.srg_id }}</h5>
                <h5 class="fw-normal">TC: {{ engagement_instance.time_code }}</h5>
                <h5 class="fw-normal">P#: {{ engagement_instance.provider }}</h5>
                <h5 class="fw-normal">PT: {{ engagement_instance.parent }}</h5>
                <h5 class="fw-normal">FY: {{ engagement_instance.fye|date:'m/d/Y' }}</h5>
            </div>

        </div>
        <div class="col-5 card p-0 shadow rounded-4">
            <div class="card-header srg-bg-secondary rounded-4 rounded-bottom-0 border-bottom-0">
                <h3 class="fw-normal srg-header">Engagement Actions</h3>
            </div>
            <div class="card-body">
                {% if user.is_staff %}
                <a class="srg-link" href="#" data-bs-toggle="modal" data-bs-target="#complete-modal">
                    <i class=" fs-5 bi bi-check-circle"></i>
                    <span class="ms-2 fs-5">{% if engagement_instance.is_complete is True %}Open Project{% else %}Close Project{% endif %}</span>
                </a>
                <a href="{% url 'add-assignments' engagement_instance.engagement_id %}" class="srg-link ms-4">
                    <i class="fs-5 bi bi-plus-square"></i>
                    <span class="ms-2 fs-5">Assign Staff</span>
                </a>
                {% else %}
                {% endif %}
            </div>
        </div>


    </div>

    <div class="row d-flex justify-content-evenly my-5">
        <div class="col-2 rounded-4 text-center shadow p-0">
            <div class="card rounded-4 text-center border-0">
                <div class="card-header srg-bg-primary text-light rounded-4 rounded-bottom-0 border-bottom-0">
                    <h1 class="fw-normal">Hours</h1>
                </div>
                <div class="card-body p-3">
                    <h1 class="fw-normal display-5 srg-header">{{ engagement_hours.ehours }}</h1>
                </div>

            </div>
        </div>
        <div class="col-2 rounded-4 text-center shadow p-0">
            <div class="card rounded-4 text-center border-0">
                <div class="card-header srg-bg-primary text-light rounded-4 rounded-bottom-0 border-bottom-0">
                    <h1 class="fw-normal">Budget</h1>
                </div>
                <div class="card-body p-3">
                    <h1 class="fw-normal display-5 srg-header">{{ engagement_instance.budget_hours }}.00</h1>
                </div>

            </div>
        </div>
        <div class="col-2 rounded-4 text-center shadow p-0">
            <div class="card rounded-4 text-center border-0">
                <div class="card-header text-light rounded-4 rounded-bottom-0 border-bottom-0 text-light {% if variance >= 0  %}srg-bg-success{% else %}srg-bg-danger{% endif %}">
                    <h1 class="fw-normal">Variance</h1>
                </div>
                <div class="card-body p-3">
                    <h1 class="fw-normal display-5 {% if variance >= 0  %}srg-header-success{% else %}srg-header-danger{% endif %}">{{ variance }}</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-evenly mt-4">
        <div class="col-6 card rounded-4 p-0 shadow">
            <div class="card-header srg-bg-secondary rounded-4 rounded-bottom-0 border-bottom-0">
                <h3 class="fw-normal srg-header">Hours By Employee</h3>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
            <canvas class="my-4 w-100 text-light" id="myChart" width="900" height="380"></canvas>
            <script>
                const config = {
                    type: 'bar',
                    data: {
                        labels: [{% for emp in engagement_hours_by_employee %}'{{ emp.employee__user__username|safe }}', {% endfor %}],
                        datasets: [{
                            backgroundColor: [{% for emp in engagement_hours_by_employee %}'rgb{{ emp.color|safe }}', {% endfor %}],
                            borderColor: [{% for emp in engagement_hours_by_employee %}'rgb{{ emp.color|safe }}', {% endfor %}],
                            data: [{% for emp in engagement_hours_by_employee %}{{ emp.emp_hours }}, {% endfor %}],
                            fill: false
                        }]
                    },
                    options: {
                        indexAxis:'y',
                        plugins: {
                          legend: {
                              display: false
                          }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "black",
                                    beginAtZero: true
                                },
                                gridLines: {
                                    color:"rgb(56, 60, 74)"
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "black"
                                },
                                gridLines: {
                                    color:"rgb(56, 60, 74)"
                                }
                            }]
                        }
                    }
                };
                window.onload = function () {
                    const ctx = document.getElementById('myChart').getContext('2d');
                    window.myLine = new Chart(ctx, config);

                }
            </script>
        </div>

        <div class="col-5 card p-0 rounded-4 shadow">
            <div class="card-header srg-bg-secondary border-bottom-0 rounded-4 rounded-bottom-0">
                <h3 class="fw-normal srg-header">Engagement Notes</h3>
            </div>
            <div class="card-body">
                 <form method="POST">
                    {% csrf_token %}
                    <textarea class="form-control bg-white text-dark" id="save_notes" name="save_notes" style="min-height: 300px;max-height: 175px">{{ engagement_instance.notes }}</textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="srg-btn-primary mt-4 px-5" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="modal fade" id="complete-modal" tabindex="-1" aria-labelledby="complete-modal" aria-hidden="true">
        <div class="modal-dialog" id="modal">
            <div class="modal-content">
                <div class="modal-header srg-bg-primary text-light fs-5">
                    Confirm Project Completion
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% if engagement_instance.is_complete is False %}
                        <p class="">Are you sure you want to complete this engagement?</p>
                        {% endif %}
                        <button class="srg-btn-primary my-2" id="confirm-button" name="confirm-button">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}