{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-between srg-bg-secondary">
        <div class="col-6 srg-header">
            {% if user.is_staff %}
                <h3 class="fw-normal">{{ user.first_name }}'s Admin Dashboard V 2.0</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% else %}
                <h3 class="fw-normal">{{ user.first_name }}'s Dashboard</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% endif %}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            {% if user.is_staff %}
                <a href="{% url 'create-engagement' %}" class="srg-link ">
                    <i class="fs-5 bi bi-plus-square"></i>
                    <span class="ms-2 fs-5"> New Engagement</span>
                </a>
            {% else %}
            {% endif %}
        </div>
    </div>

    <div class="row mt-4 d-flex" role="tabpanel">
        <div class="col-lg-2 col-md-3 overflow-auto card shadow-sm" id="tablist" role="tablist" style="max-height:850px">
            <div class="">
                <span class="srg-header fs-3">My Engagements</span> <br>
                <input class="search-box mt-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for systems.." title="Type in a name">
            </div>
            <div class="list-group mt-2" role="tablist">
                <ul id="parentList" class="list-group list-group-flush">
                    {% for parent in all_parents %}
                        <li class="list-group-item">
                            <a class="srg-link" role="tab" id="list-{{ parent.parent_id }}-list"
                                data-bs-toggle="list" aria-controls="{{ parent.parent_id }}"
                                href="#list-{{ parent.parent_id }}">{{ parent.parent_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <link href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css" rel="stylesheet">

        <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

        <div class="col-lg-10 col-md-9 col-sm-8 overflow-auto" style="min-height:850px;max-height:850px">
            <div class="tab-content card shadow-sm p-4" id="nav-tabContent" style="min-height:850px;max-height:850px">
                {% for parent in all_parents %}
                    <div class="tab-pane" id="list-{{ parent.parent_id }}" role="tabpanel" aria-labelledby="list-{{ parent.parent_id }}-list">
                        <span class="srg-header fs-3">{{ parent.parent_name }} Engagements</span> <br>
                        <table class="table" id="table" data-toggle="table" data-search="true" data-search-align="left">
                            <thead>
                                <tr>
                                    <th data-field="srg_id">Engagement ID</th>
                                    <th data-field="provider">Provider</th>
                                    <th data-field="time_code">Scope</th>
                                    <th data-field="fye" class="text-center">Fiscal Year</th>
                                    <th class="text-center">Hours<br>Budget</th>
                                    <th class="text-center">Hours<br>Recorded</th>
                                </tr>
                            </thead>
                            {% for engagement in parent.parent_engagements %}
                                <tr>
                                    <td id="{{ engagement.srg_id}}"><a class="srg-link" href="{% url 'admin-engagement-detail' engagement.engagement_id %}">{{ engagement.srg_id}}</a></td>
                                    <td>{{ engagement.provider }}</td>
                                    <td>{{ engagement.time_code }}</td>
                                    <td class="text-center">{{ engagement.fye|date:'m/d/Y' }}</td>
                                    <td class="text-center">{{ engagement.budget_hours }}</td>
                                    <td class="text-center">{{ engagement.engagement_hours.project_hours }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                {% endfor %}
            </div>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("").hover(function () {
            $(this).css("color", "#7178A1");
            $(this).css("text-decoration", "underline");
        }, function () {
            $(this).css("color", "");
            $(this).css("text-decoration", "none");
        });
    });
</script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('a[data-bs-toggle="list"]').on('shown.bs.tab', function (e) {
            $(e.target).css("border-left-style", "solid");
            $(e.target).css("border-color", "#02308C");
            $(e.target).css("padding-left", "5px");
            $(e.relatedTarget).css("border-left-style", "");
            $(e.relatedTarget).css("padding-left", "");

        })
    })
</script>

     <script>
        function myFunction() {
          // Declare variables
            let input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("parentList");
            li = ul.getElementsByTagName('li');

          // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "block";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

    <script>
        function myFunction2() {
          // Declare variables
            let input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input2");
            filter = input.value.toUpperCase();
            console.log(filter)
            table = document.getElementById("table2");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    console.log(tr[i])
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }

    </script>


{% endblock %}