{% extends 'layout.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="d-flex justify-content-evenly flex-row flex-xl-nowrap flex-lg-wrap flex-md-wrap flex-sm-wrap srg-bg-secondary rounded-4 p-2 table-responsive-md">
            <div class="rounded-2 srg-border px-2 col-4">
                <h4 class="text-start fs-2 py-2 fw-normal srg-header" style="border-bottom: 1px solid #a9a9a9">Add Assignments</h4>
                <form class="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper mb-3">
                            {{ field.label_tag }} <br>{{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="srg-btn-primary my-2" name="assign_continue_button">Assign & Continue</button>
                    <button class="srg-btn-primary my-2" name="assign_another_button">Assign Another</button>
                </form>
            </div>
            <div class="col-4 rounded-2 srg-border px-2">
                <h4 class="text-start fs-2 py-2 fw-normal srg-header" style="border-bottom: 1px solid #a9a9a9">Currently Assigned</h4>
                {% for assignee in already_assigned %}
                    {{ assignee.assignee }}<br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}