{% extends 'layout.html' %}

{% block content %}

    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-evenly row rounded-4 my-4 p-2 ">
            <div class="col-auto rounded-2 srg-border p-4">
                <h4 class="text-start fs-2 py-2 fw-normal srg-header" style="border-bottom: 1px solid #a9a9a9">Add Engagement Form</h4>
                <form class="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper mb-3">
                            {{ field.label_tag }} <br>{{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="srg-btn-primary my-2">Add Engagement</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}