{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-between srg-bg-secondary">
        <div class="col-6 srg-header">
            {% if user.is_staff %}
                <h3 class="fw-normal">{{ user.first_name }}'s Admin Dashboard</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% else %}
                <h3 class="fw-normal">{{ user.first_name }}'s Dashboard</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% endif %}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            {% if user.is_staff %}
                <a href="{% url 'create-engagement' %}" class="srg-link ">
                    <i class="fs-5 bi bi-plus-square"></i>
                    <span class="ms-2 fs-5"> New Engagement</span>
                </a>
            {% else %}
            {% endif %}
        </div>
    </div>

    <div class="row d-flex mt-2 gx-2 justify-content-between" style="min-height:85%;max-height:1024px">
        <div class="col-lg-7 col-md-12 col-sm-4 overflow-auto card shadow-sm rounded-4 rounded-end-0 p-0 border-0" id="list-tab" role="tablist">
            <div class="d-flex justify-content-between card-header srg-bg-secondary rounded-end-0">
                <span class="srg-header fs-3">My Engagements</span>
                <input class="search-box" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for engagements.." title="Type in a name">
            </div>
            <div class="card-body pt-0">
                <table class="table table-hover mt-2" id="table">
                <thead>
                    <tr>
                        <th data-field="engagement">Engagement</th>
                        <th>Provider</th>
                        <th>Scope</th>
                        <th>FYE</th>
                    </tr>
                </thead>
                {% for engagement in all_engagements %}
                    <tr>
                        <td>
                            <a class="srg-link" role="tab"
                                id="list-{{ engagement.engagement }}-list"
                                data-bs-toggle="list"
                                aria-controls="{{ engagement.engagement }}"
                                href="#list-{{ engagement.engagement }}">
                                {{ engagement.engagement }}
                            </a>
                        </td>
                        <td>

                            {{ engagement.getProvider }}
                        </td>
                        <td>
                            {{ engagement.getScope }}<br>
                        </td>
                        <td>
                            {{ engagement.getFYE|date:'m/d/Y' }}
                        </td>
                    </tr>

                {% endfor %}
            </table>
            </div>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-4 overflow-auto card rounded-4 rounded-start-0 p-0 border-0">
            <div class="card-header srg-bg-secondary rounded-start-0">
                <span class="srg-header fs-3">Engagement Details</span>
            </div>

            <div class="card-body border-0">
                <div class="tab-content" id="nav-tabContent">
                {% for engagement in all_engagements %}
                    <div class="tab-pane" id="list-{{ engagement.engagement }}" role="tabpanel" aria-labelledby="list-{{ engagement.engagement }}-list">
                        <div class="card border p-0 rounded-4 shadow-sm">
                            <div class="card-header srg-bg-secondary rounded-4 rounded-bottom-0">
                                <span class="srg-header fs-5">Engagement: {{ engagement.engagement}}</span>
                            </div>
                            <div class="card-body pb-0">
                                <table class="table table-sm table-border-less">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Provider:</th>
                                            <td>{{ engagement.getProvider }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Parent:</th>
                                            <td>{{ engagement.getParent }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Scope:</th>
                                            <td>{{ engagement.getScope }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Fiscal Year:</th>
                                            <td>{{ engagement.getFYE|date:'m/d/y' }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hours Budget:</th>
                                            <td>{{ engagement.getBudget }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hours Recorded:</th>
                                            <td>{{ engagement.engagement_hours.project_hours }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bg-transparent card-footer">
                                {% if engagement.is_complete is True %}
                                    {% if user.is_staff %}
                                        <a type="button" class="text-decoration-none srg-link"
                                        id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                        data-bs-target="#complete-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                        href="#complete-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                        <i class="bi bi-check-circle"></i> Open Project
                                    </a>
                                    {% else %}
                                        This is engagement is closed, please contact leadership to reopen the engagement.
                                    {% endif %}
                                {% else %}
                                    {% if user.is_staff %}
                                        <a type="button" class="text-decoration-none open-modal-button srg-btn-primary"
                                           id="modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-clock"></i> Record Time
                                        </a>
                                        <a type="button" class="text-decoration-none srg-success-button mx-3"
                                           id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#expense-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#expense-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-currency-dollar"></i> Record Expense
                                        </a>
                                        <!--
                                        <a href="{% url 'add-assignments' engagement.engagement_id %}" type="button" class="text-decoration-none srg-btn-primary me-3">
                                            <i class="bi bi-person-add"></i> Assign
                                        </a>
                                        -->
                                         <a type="button" class="text-decoration-none open-modal-button srg-btn-secondary"
                                           id="todo-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#todo-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#todo-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-check2-circle"></i> Add to To-Do List
                                        </a>

                                        <a type="button" class="text-decoration-none srg-link"
                                            id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                            data-bs-target="#complete-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                            href="#complete-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                            <i class="bi bi-check-circle"></i> {% if engagement.is_complete is True %}Open Project{% else %}Close Project{% endif %}
                                        </a>
                                    {% else %}
                                        <a type="button" class="text-decoration-none open-modal-button srg-btn-primary"
                                           id="modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-clock"></i> Record Time
                                        </a>
                                        <a type="button" class="text-decoration-none srg-success-button mx-3"
                                           id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#expense-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#expense-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-currency-dollar"></i> Record Expense
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="card shadow-sm mb-5 rounded-4 mt-4">
                            <div class="card-header srg-bg-secondary rounded-4 rounded-bottom-0">
                                <span class="srg-header fs-5 ps-1">Hours By Employee</span>
                            </div>

                            <div class="card-body py-0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Employee</th>
                                            <th scope="col">Hours</th>
                                            <th scope="col">Rate</th>
                                        </tr>
                                    </thead>
                                    {% for entry in engagement.engagement_time_sheet_entries %}
                                        <tr>
                                            <td>{{ entry.employee__user__username }}</td>
                                            <td>{{ entry.engagement_emp_hours }}</td>
                                            <td>{{ entry.employee__rate }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

        {% for engagement in all_engagements %}
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary text-light fs-4">
                            Record Hours
                        </div>
                        <div class="modal-body">
                            ID: <span id="object-id-{{ forloop.counter }}">{{ engagement.engagement}}</span>

                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in add_time_form %}
                                    <div class="fieldWrapper mb-3">
                                        {{ field.label_tag }} <br>{{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-btn-primary my-2">Add Hours</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for engagement in all_engagements %}
            <div class="modal fade" id="expense-modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="expense-modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-success text-light fs-5">
                            Record Expense
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in add_expense_form %}
                                    <div class="fieldWrapper my-3">
                                        {{ field.label_tag }} <br>{{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-success-button my-2">Add Expense</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="todo-modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="todo-modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-secondary srg-header fs-5">
                            Add Engagement To To-Do List
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in todo_form %}
                                    <div class="fieldWrapper my-3">
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button class="srg-btn-primary my-2">Add to To-Do List</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="complete-modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="complete-modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary text-light fs-5">
                            Complete Project
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in complete_engagement_form %}
                                    <div class="fieldWrapper my-3">
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-btn-primary my-2">Complete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("").hover(function () {
            $(this).css("color", "#7178A1");
            $(this).css("text-decoration", "underline");
        }, function () {
            $(this).css("color", "");
            $(this).css("text-decoration", "none");
        });
    });
</script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('a[data-bs-toggle="list"]').on('shown.bs.tab', function (e) {
            $(e.target).css("border-left-style", "solid");
            $(e.target).css("border-color", "#02308C");
            $(e.target).css("padding-left", "5px");
            $(e.relatedTarget).css("border-left-style", "");
            $(e.relatedTarget).css("padding-left", "");

        })
    })
</script>

    <script>
        function myFunction() {
          // Declare variables
            let input, filter, tbl, trow, td, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            tbl = document.getElementById("table");
            trow = tbl.getElementsByTagName('tr');

          // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < trow.length; i++) {
                td = trow[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        trow[i].style.display = "";
                    } else {
                        trow[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}