{% extends 'layout.html' %}

{% block content %}
    <div class="row d-flex justify-content-between srg-bg-secondary">
        <div class="col-6 srg-header">
            {% if user.is_staff %}
                <h3 class="fw-normal">{{ user.first_name }}'s Admin Dashboard</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% else %}
                <h3 class="fw-normal">{{ user.first_name }}'s Dashboard</h3>
                <h5 class="fw-normal">Today: {{ today|date:'D m/d/Y' }}</h5>
                <h5 class="fw-normal">Week: {{ week_beg|date:'D m/d/Y' }} - {{ week_end|date:'D m/d/Y' }}</h5>
            {% endif %}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            {% if user.is_staff %}
                <a href="{% url 'create-engagement' %}" class="srg-link ">
                    <i class="fs-5 bi bi-plus-square"></i>
                    <span class="ms-2 fs-5"> New Engagement</span>
                </a>
            {% else %}
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 col-sm-4 overflow-auto" id="list-tab" role="tablist" style="max-height:850px">
            <div class="">
                <span class="srg-header fs-3">My Engagements</span> <br>
                <input class="search-box mt-2" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for engagements.." title="Type in a name">
            </div>
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th data-field="engagement"></th>
                    </tr>
                </thead>
                {% for engagement in all_engagements %}
                    <tr>
                        <td>
                            <p>
                            <a class="srg-link" role="tab" id="list-{{ engagement.engagement }}-list"
                                                    data-bs-toggle="list"
                                                    aria-controls="{{ engagement.engagement }}"
                                                    href="#list-{{ engagement.engagement }}">
                                {{ engagement.engagement }}
                                </a><br>
                            {{ engagement.getProvider }}<br>
                            {{ engagement.getScope }}<br>
                            FYE: {{ engagement.getFYE|date:'m/d/Y' }}
                            </p>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-8 border-start">
            <span class="srg-header fs-3">Engagement Details</span>

            <div class="tab-content" id="nav-tabContent">
                {% for engagement in all_engagements %}
                    <div class="tab-pane" id="list-{{ engagement.engagement }}" role="tabpanel" aria-labelledby="list-{{ engagement.engagement }}-list">
                        <div class="card border shadow-sm p-2 srg-bg-secondary rounded">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 fw-bolder">
                                    Engagement ID:<br>
                                    Provider:<br>
                                    Parent:<br>
                                    Scope:<br>
                                    Fiscal Year:<br>
                                    Hours Budget:<br>
                                    Hours Recorded:<br>
                                </div>
                                <div class="col-xxl-10 col-xl-9 col-lg-9 col-md-9">
                                    {{ engagement.engagement}}<br>
                                    {{ engagement.getProvider }}<br>
                                    {{ engagement.getParent }}<br>
                                    {{ engagement.getScope }}<br>
                                    {{ engagement.getFYE|date:'m/d/Y' }}<br>
                                    {{ engagement.getTCBudget }}<br>
                                    {{ engagement.engagement_hours.project_hours }}<br>
                                </div>
                            </div>

                            <div class="my-3">
                                {% if engagement.is_complete is True %}
                                    {% if user.is_staff %}
                                        <a type="button" class="text-decoration-none srg-link"
                                        id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                        data-bs-target="#complete-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                        href="#complete-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                        <i class="bi bi-check-circle"></i> Open Project
                                    </a>
                                    {% else %}
                                        This is engagement is closed, please contact leadership to reopen the engagement.
                                    {% endif %}
                                {% else %}
                                    {% if user.is_staff %}
                                        <a type="button" class="text-decoration-none open-modal-button srg-btn-primary"
                                           id="modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-clock"></i> Record Time
                                        </a>
                                        <a type="button" class="text-decoration-none srg-success-button mx-3"
                                           id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#expense-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#expense-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-currency-dollar"></i> Record Expense
                                        </a>
                                        <!--
                                        <a href="{% url 'add-assignments' engagement.engagement_id %}" type="button" class="text-decoration-none srg-btn-primary me-3">
                                            <i class="bi bi-person-add"></i> Assign
                                        </a>
                                        -->
                                        <a type="button" class="text-decoration-none srg-link"
                                            id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                            data-bs-target="#complete-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                            href="#complete-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                            <i class="bi bi-check-circle"></i> {% if engagement.is_complete is True %}Open Project{% else %}Close Project{% endif %}
                                        </a>
                                    {% else %}
                                        <a type="button" class="text-decoration-none open-modal-button srg-btn-primary"
                                           id="modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-clock"></i> Record Time
                                        </a>
                                        <a type="button" class="text-decoration-none srg-success-button mx-3"
                                           id="expense-modal-{{ engagement.engagement }}-modal" data-bs-toggle="modal"
                                           data-bs-target="#expense-modal-{{ forloop.counter }}" data-id="{{ engagement.engagement }}"
                                           href="#expense-modal-{{ forloop.counter }}-modal" aria-controls="{{ engagement.engagement }}">
                                                <i class="bi bi-currency-dollar"></i> Record Expense
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="shadow-sm mb-5 rounded mt-2 border">
                            <span class="srg-header fs-3 ps-1">Engagement Hours</span>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Employee</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Rate</th>
                                    </tr>
                                </thead>
                                {% for entry in engagement.engagement_time_sheet_entries %}
                                    <tr>
                                        <td>{{ entry.employee__user__username }}</td>
                                        <td>{{ entry.engagement_emp_hours }}</td>
                                        <td>{{ entry.employee__rate }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for engagement in all_engagements %}
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary text-light fs-4">
                            Record Hours
                        </div>
                        <div class="modal-body">
                            ID: <span id="object-id-{{ forloop.counter }}">{{ engagement.engagement}}</span>

                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in add_time_form %}
                                    <div class="fieldWrapper mb-3">
                                        {{ field.label_tag }} <br>{{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-btn-primary my-2">Add Hours</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for engagement in all_engagements %}
            <div class="modal fade" id="expense-modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="expense-modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-success text-light fs-5">
                            Record Expense
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in add_expense_form %}
                                    <div class="fieldWrapper my-3">
                                        {{ field.label_tag }} <br>{{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-success-button my-2">Add Expense</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="complete-modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="complete-modal-{{ engagement.engagement }}-modal" aria-hidden="true">
                <div class="modal-dialog" id="modal">
                    <div class="modal-content">
                        <div class="modal-header srg-bg-primary text-light fs-5">
                            Complete Project
                        </div>
                        <div class="modal-body">
                            <form class="" method="POST">
                                {% csrf_token %}
                                    <label for="my-input-{{ forloop.counter }}">Engagement:</label><br>
                                    <input name="engagement-input" type="text" id="my-input-{{ forloop.counter }}" value="{{ engagement.engagement }}"/><br>
                                {% for field in complete_engagement_form %}
                                    <div class="fieldWrapper my-3">
                                        {{ field.label_tag }} {{ field }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                                <button class="srg-btn-primary my-2">Complete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("").hover(function () {
            $(this).css("color", "#7178A1");
            $(this).css("text-decoration", "underline");
        }, function () {
            $(this).css("color", "");
            $(this).css("text-decoration", "none");
        });
    });
</script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('a[data-bs-toggle="list"]').on('shown.bs.tab', function (e) {
            $(e.target).css("border-left-style", "solid");
            $(e.target).css("border-color", "#02308C");
            $(e.target).css("padding-left", "5px");
            $(e.relatedTarget).css("border-left-style", "");
            $(e.relatedTarget).css("padding-left", "");

        })
    })
</script>

    <script>
        function myFunction() {
          // Declare variables
            let input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("table");
            li = ul.getElementsByTagName('td');

          // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("p")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}